<div class="container">

  <div *ngIf="movieItems$ | async as movieList">

    <div *ngIf="currentPage >= 1">
      <div class="col-12 justify-content-center">
        <ngb-pagination [collectionSize]="(rows$ | async) || 0" [(page)]="currentPage" [maxSize]="5" [rotate]="true"
          [boundaryLinks]="true" size="sm" (pageChange)="onPageChange(currentPage)">
        </ngb-pagination>
      </div>
      <pre>Current page: {{ currentPage }}</pre>

      <pre>rows : {{ (rows$ | async) || 0 }}</pre>
      <pre>page : {{ (page$ | async) || 0 }}</pre>
      <pre>pageSize : {{ (pageSize$ | async) || 0 }}</pre>

      <pre>isLoading : {{ (isLoading$ | async) || false }}</pre>
      <pre>error : {{ (error$ | async) || "" }}</pre>

      <pre>selectedMovie : {{ (selectedMovie$ | async) || null }}</pre>

      <!-- <div class="col-12 justify-content-center">
    <ngb-pagination [collectionSize]="(page$ | async) || 0" [(page)]="(page | async)?.length" [maxSize]="5" [rotate]="true"
      [boundaryLinks]="false" size="sm" (pageChange)="onPageChange(currentPage)">
    </ngb-pagination>
  </div> -->

      <div *ngFor=" let movie of movieItems$ | async">
        <div class="row m-2">
          <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <img src="{{ movie['Poster'] }}" class="img-fluid" alt="{{ movie['Title'] }}">
          </div>
          <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <a role="button" tabindex="0" aria-disabled="false" routerLink="/movies/{{selectedId}}">
              <h2 class="link-dark text-uppercase">{{ movie["Title"] }}</h2>
            </a>
            <span class="badge bg-secondary">{{ movie["Year"] }}</span>
            <span class="badge bg-primary">{{ movie["Type"] }}</span>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
