<!-- <section class="block m-12">

  <ul class="list-group mt-5">
    <li class="list-group-item d-flex justify-content-between align-items-center "
      *ngFor="let movie of searchedMovies$ | async">

      <div class="card overflow-hidden border-0 rounded-0 text-center">
        <img ngSrc="{{ movie['Poster'] }}" width="100" height="148" class="card-img rounded-0"
          alt="{{ movie['Title'] }}" />
        <div class="card-img-overlay d-flex flex-column justify-content-center">
          <a class="stretched-link" href="tt1877830">


          </a>
        </div>
      </div>
      <h4 class="card-title text-uppercase">{{ movie["Title"] }} <span class="badge bg-secondary">{{ movie["Year"]
          }}</span></h4>
    </li>

  </ul>

</section> -->

<div class="container-md mt-5">

  <div class="row gy-3 m-20">
    <div class="col-sm-6 col-md-6 col-lg-3" *ngFor="let movie of searchedMovies$ | async">

      <img src="{{ movie['Poster'] }}" class="card-img rounded-0 img-fluid" alt="{{ movie['Title'] }}" />
      <h4 class="card-title text-uppercase">{{ movie["Title"] }} <span class="badge bg-secondary">{{ movie["Year"]
          }}</span></h4>
      <!-- <div class="d-grid">
        <button class="btn mt-2 btn-secondary">Button 1</button>
      </div> -->
      <div class="text-center bg-text inner">
        <h1> acknowledge Nature! </h1>
        <p>Nature is the most important thing in the life which is alive.</p>
      </div>

    </div>
  </div>
</div>


<section class="block m-12">

  <ul class="list-group mt-5">
    <li class="list-group-item d-flex justify-content-between align-items-center "
      *ngFor="let movie of searchedMovies$ | async">

      <div class="card overflow-hidden border-0 rounded-0 text-center">
        <img ngSrc="{{ movie['Poster'] }}" width="100" height="148" class="card-img rounded-0"
          alt="{{ movie['Title'] }}" />
        <div class="card-img-overlay d-flex flex-column justify-content-center">
          <a class="stretched-link" href="tt1877830">


          </a>
        </div>
      </div>
      <h4 class="card-title text-uppercase">{{ movie["Title"] }} <span class="badge bg-secondary">{{ movie["Year"]
          }}</span></h4>
    </li>

  </ul>

</section>





<div class="container">
  <div class=" m-10" *ngFor="let movie of searchedMovies$ | async">
    <div class="img-text-container">
      <img src="https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png" class="img-fluid"
        alt="Responsive image">
      <div class="text-center bg-text inner">
        <h1> acknowledge Nature! </h1>
        <p>Nature is the most important thing in the life which is alive.</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
    <div class="row">
      <div class="col-sm" *ngFor="let movie of searchedMovies$ | async">
        <h6>{{movie.Title}}</h6>
      </div>
    </div>
  </div> -->
<!-- <p class="h4">{{ movie["Title"] }}</p>
  <h4>{{ movie["Title"] }} <span class="badge bg-secondary">{{ movie["Year"] }}</span></h4>
  <div class="card overflow-hidden border-0 rounded-0 text-center" >
    <img ngSrc="{{ movie['Poster'] }}" width="100" height="148" class="card-img rounded-0" alt="{{ movie['Title'] }}" />
    <div class="card-img-overlay d-flex flex-column justify-content-center">
      <a class="stretched-link" href="...">
        <h3 class="card-title text-uppercase">
          <h4>{{ movie["Title"] }} <span class="badge bg-secondary">{{ movie["Year"] }}</span></h4>
        </h3>
      </a>
    </div>
  </div> -->



<div *ngIf="(searchedMovies$ | async)">
  <pre>{{searchedMovies$ | async | json}}</pre>
</div>
