<ul class="nav">
  <li class="nav-item px-2">
    <a class="nav-link px-2 " tabindex="6" routerLink="/home" routerLinkActive="nav-link active"
      ariaCurrentWhenActive="page">Home</a>
  </li>
  <li class="nav-item px-2">
    <a class="nav-link px-2 " tabindex="6" routerLink="/movies" routerLinkActive="nav-link active"
      ariaCurrentWhenActive="page">Movies</a>
  </li>
  <li class="nav-item px-2">
    <a class="nav-link px-2 " tabindex="6" routerLink="/about" routerLinkActive="nav-link active"
      ariaCurrentWhenActive="page">About</a>
  </li>
</ul>
<!-- <div class="container-fluid">
  <ul class="nav col-12 col-lg-auto me-xs -auto mb-2 justify-content-center mb-md-0">
    <li class="nav-item px-2">
      <a class="nav-link px-2 " tabindex="6" routerLink="/home" routerLinkActive="nav-link active"
        ariaCurrentWhenActive="page">Home</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link px-2 " tabindex="6" routerLink="/movies" routerLinkActive="nav-link active"
        ariaCurrentWhenActive="page">Movies</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link px-2 " tabindex="6" routerLink="/about" routerLinkActive="nav-link active"
        ariaCurrentWhenActive="page">About</a>
    </li>
  </ul>
</div> -->
