<div class="container">
  <div class="row align-items-center">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-3">
      <div class="input-group">

        <input type="text" formControlName="searchField" class="form-control rounded" placeholder="Search"
          aria-label="Search" aria-describedby="search-addon" required="true" [disabled]="(isLoading$ | async)!"
          [ngClass]="{ 'is-invalid': submitted && f['searchField'].errors }" />

        <button type="submit" class="btn btn-primary btn-lg" [disabled]="(isLoading$ | async)!"> Search </button>
        <button type="button" class="btn btn-secondary btn-lg" [disabled]="(isLoading$ | async)!"> Reset </button>


      </div>

    </form>


  </div>
</div>


<!--
      <div *ngIf="submitted && f['searchField'].errors" class="invalid-feedback">
      <div *ngIf="f['searchField'].errors['required']">searchField is required</div>
    </div>

 -->
